<!DOCTYPE html>
<html>
  <head>
    <!-- タブの名前のところにタイトルを表示させるコード。Home,Help,Aboutなど各ビューと連携 -->

    <!-- <title> yield(:title)  | Ruby on Rails Tutorial Sample App</title> -->
  <!-- application_helper.rbに記述したため、上のコードは次のように短くかける -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
